# Gradle and build outputs
.gradle/
build/
app/build/

# Kotlin / IDE
.kotlin/
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/

# Local configuration
local.properties

# Keystores & files
*.jks
*.keystore

# System files
.DS_Store
